<div class="container">
  <div class="row">
    <div *ngFor="let product of product_list" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-2">
      <div class="card p-2">
        <div (click)="productDetail(product)">
          <img class="card-img-top" [src]="product.image">
          <div class="card-body">
            <h6 class="card-title">{{product.title}}</h6>
            <p class="card-text text-truncate" style="max-width: 150px;">
              {{product.description}}
            </p>
          </div>

          <div class="d-flex justify-content-between">
            <ngx-stars [readonly]="true" [initialStars]="product.rating.rate" [color]="'#1e90ff'"
              [title]="'Review ' + product.rating.rate"></ngx-stars>
            <p>{{product.price | currency : "THB" : "symbol-narrow" }}</p>
          </div>
        </div>

        <!-- <div class="d-flex justify-content-evenly"> -->
        <div class="btn-group-sm d-flex justify-content-end gap-1" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary" (click)="addToCart(product)">
            <i class="bi bi-cart-plus" style="font-size:16px;">Cart</i>
            <!-- <i *ngIf="inCart(product) ? true : false" class="bi bi-cart-check" style="font-size:16px;">Cart</i> -->
          </button>
          <button type="button" class="btn btn-secondary" (click)="buyNow(product)">
            <i class="bi bi-cash-coin" style="font-size:16px;">Buy</i>
          </button>
        </div>
        <!-- </div> -->


      </div>
    </div>

    <div *ngIf="!product_list.length" class="d-flex aligns-items-center justify-content-center">
      <h5>No Products...</h5>
    </div>

  </div>
</div>

<!-- <swal #swalSuccess title="<div class='text-light'>สำเร็จ</div>" type="success" text="" icon="success"></swal> -->
